<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>占いサロンチャンス　オンライン予約ページ</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="ここにサイト説明を入れます">
<meta name="keywords" content="キーワード１,キーワード２,キーワード３,キーワード４,キーワード５">
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<script src="{% static 'js/ddmenu_min.js' %}"></script>
<script src="{% static 'js/fixmenu_pagetop.js' %}"></script>
<script src="{% static 'js/fixmenu.js' %}"></script>
<script src="{% static 'js/openclose.js' %}"></script>

</head>

<body>

<div id="main">
    

    {% block content %}{% endblock %}

</div>
<!--/#main-->




</section>

    <!-- <footer>
        <div id="footermenu" class="inner">
            <ul>
            <li class="title">メニュータイトル</li>
            <li><a href="index.html">ホーム</a></li>
            <li><a href="{% url 'booking:store_list' %}">ご予約はこちらから</a>/li>
            <li><a href="contact.html">お問い合わせ</a></li>
            <li><a href="company.html">会社概要</a></li>
            </ul>
            
            <ul>
            <li class="title">スタッフ用ページ</li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'booking:my_page' %}">マイページ</a></li>
            <li><form action="{% url 'booking:logout' %}" method="post" class="d-inline">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-link nav-link">ログアウト</button>
                </form></li>
            {% else %}
            <li><a href="{% url 'booking:login' %}">ログイン</a></li>
            {% endif %}
            </ul>
            
            <ul>
                <li class="title">外部リンク</li>
                <li><a href="https://www.senjutsu.jp/">大久保占い研究室</a></li>
                <li><a href="https://www.senjutsu.jp/forums/forum/uranai">占い掲示板</a></li>
                <li><a href="https://www.senjutsu.jp/tarot">無料のタロット占い</a></li>
            </ul>
            
            <ul>
                <li class="title">占いサロンとは？</li>
                <li><a href="list_foods.html">ごあいさつ</a></li>
                <li><a href="list_job.html">初めての方へ</a></li>
                <li><a href="list_job.html">占いサロンのココがすごい！</a></li>
                </ul>
            <ul>
                <li class="title">その他</li>
                <li><a href="list_foods.html">プライバシーポリシー</a></li>
                <li><a href="list_job.html">サイトマップ</a></li>
                <li><a href="list_clinic.html">利用規約</a></li>
                </ul>
            </div>
        
    </footer>

    ページの上部に戻る「↑」ボタン-->


</body>
</html>