{% extends 'booking/base.html' %}
{% load static %}

{% block content %}
<head>
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'testApp/box17.css' %}"> -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<section>

    <h1>{{ staff.store.name }}店 {{ staff.name }}</h1>
    <p>{{ view.kwargs.year }}年{{ view.kwargs.month }}月{{ view.kwargs.day }}日 {{ view.kwargs.hour }}時に予約</p>

    <form action="" method="POST">
        {% csrf_token %}
        {{ form.your_field.label_tag }} {{ form.your_field }}
        <!-- 他のフィールドをここに追加します -->
        <button type="submit">決済完了後、予約確定する</button>

    </form>

</section>

{% endblock %}