<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>占いサロンチャンス　オンライン予約ページ</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="ここにサイト説明を入れます">
<meta name="keywords" content="キーワード１,キーワード２,キーワード３,キーワード４,キーワード５">
{% load static %}
<script src="{% static 'js/openclose.js' %}"></script>
<script src="{% static 'js/fixmenu.js' %}"></script>
<script src="{% static 'js/fixmenu_pagetop.js' %}"></script>
<script src="{% static 'js/ddmenu_min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<script src="{% static 'js/ddmenu_min.js' %}"></script>
<script src="{% static 'js/fixmenu_pagetop.js' %}"></script>
<script src="{% static 'js/fixmenu.js' %}"></script>
<script src="{% static 'js/openclose.js' %}"></script>

</head>

<body>

    <header>
    <!-- <div class="inner">
        <h1 id="logo"><a href="index.html"><img src="{% static 'images/.png' %}" alt="占いサロンチャンス　オンライン予約サイト(ロゴ)"></a></h1>
        <p class="login"><a href="login.html">LINEでログイン</a></p>
        </div> -->
    </header>

<div id="contents" class="inner">

<div id="contents-in">
    

<div id="main">
    
    <h2>予約カレンダー</h2>
    <h3>店舗：新大久保店</h3>
    <p>予約したい日時をカレンダーから選択してください</p>
       
    <p style="font-size: 20px;">
        <strong class="color1">◆{{ start_day }} - {{ end_day }}</strong>(現在選択中の占い師：<strong class="color1">{{ staff.name }}</strong>)</p>

    
        <table class="table table-bordered text-center" style="table-layout: fixed;width: 100%" border="2">
            
            <tr>
                <td><a href="{% url 'booking:calendar' staff.pk before.year before.month before.day %}">前週</a></td>
                {% for day in days %}
                    {% if day in public_holidays %}
                        <th style="background-color: yellow">{{ day | date:"d(D)" }}</th>
                    {% elif day.weekday == 5 %}
                        <th style="color: blue;">{{ day | date:"d(D)" }}</th>
                    {% elif day.weekday == 6 %}
                        <th style="color: red;">{{ day | date:"d(D)" }}</th>
                    {% else %}
                        <th>{{ day | date:"d(D)" }}</th>
                    {% endif %}
                {% endfor %}
                <td><a href="{% url 'booking:calendar' staff.pk next.year next.month next.day %}">次週</a></td>
            </tr>

            {% for hour, schedules in calendar.items %}
            <tr style="font-size:12px">
                <td>
                    {{ hour }}:00
                </td>
                {% for dt, book in schedules.items %}
                    <td>
                        {% if dt <= today %}
                            -
                        {% elif book == 'Booked' %}
                            <a href="#" class="booked">予約済み</a>
                        {% elif book == 'Temp' %}
                            <a class="temporary">仮予約中</a>
                        {% else %}
                            <a href="{% url 'booking:prebooking' staff.pk dt.year dt.month dt.day hour %}" class="available">空き</a>
                        {% endif %}
                    </td>
                {% endfor %}
                <td>
                    {{ hour }}:00
                </td>
            </tr>
        {% endfor %}

        </table>
    
</div>
<!--/#main-->

</body>
</html>
    