<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>占いサロンチャンス　オンライン予約ページ</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="ここにサイト説明を入れます">
<meta name="keywords" content="キーワード１,キーワード２,キーワード３,キーワード４,キーワード５">
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<script src="{% static 'js/ddmenu_min.js' %}"></script>
<script src="{% static 'js/fixmenu_pagetop.js' %}"></script>
<script src="{% static 'js/fixmenu.js' %}"></script>
<script src="{% static 'js/openclose.js' %}"></script>

</head>

<body>

    <header>
    <div class="inner">
        <h1 id="logo"><a href="index.html"><img src="{% static 'images/.png' %}" alt="占いサロンチャンス　オンライン予約サイト(ロゴ)"></a></h1>
        <p class="login"><a href="login.html">LINEでログイン</a></p>
        </div>
    </header>

<!--PC用（901px以上端末）メニュー-->
<nav id="menubar" class="nav-fix-pos">
    <ul class="inner">
    <li><a href="index.html">ホーム<span>Home</span></a></li>
    <li><a href="{% url 'booking:store_list' %}">店舗情報<span>Store</span></a>
    <ul class="ddmenu">
    <li><a href="calendar.html">新宿１号店</a></li>
    <li><a href="calendar.html">新宿2号店</a></li>
    <li><a href="calendar.html">池袋店</a></li>
    </ul>
    </li>
    <li><a href="{% url 'booking:store_list' %}">ご予約<span>Reservation</span></a></li>
    <li><a href="faq.html">所属占い師<span>Fortune-teller</span></a></li>
    <li><a href="contact.html">お問い合わせ<span>Contact</span></a></li>
    <li><a href=" ">スタッフページ<span></span></a></li>
    </ul>
    </nav>
    <!--小さな端末用（900px以下端末）メニュー-->
    <nav id="menubar-s">
    <ul>
    <li><a href="index.html">ホーム<span>Home</span></a></li>
    <li><a href="{% url 'booking:store_list' %}">店舗一覧<span>Store</span></a></li>
    <li><a href="{% url 'booking:store_list' %}">ご予約<span>Reservation</span></a></li>
    <li><a href="link.html">所属占い師<span>Fortune-teller</span></a></li>
    <li><a href="contact.html">お問い合わせ<span>Contact</span></a></li>
    <li><a href=" "><span>スタッフページ</span> </a></li>
    </ul>
    </nav>


        <!-- カルーセルの外枠 -->
        <div class="carousel">
            <!--  1枚目の画像  -->
            <img src="https://dummyimage.com/320x120/ff0000/ffffff&text=１">
            <!--  2枚目の画像  -->
            <img src="https://dummyimage.com/320x120/00ff00/ffffff&text=２">
            <!--  3枚目の画像  -->
            <img src="https://dummyimage.com/320x120/0000ff/ffffff&text=３">
            <!--  4枚目の画像  -->
            <img src="https://dummyimage.com/320x120/ff00ff/ffffff&text=４">  
            <!--  1枚目と同じ画像  -->
            <img src="https://dummyimage.com/320x120/ff0000/ffffff&text=１">
          </div>
          
<div id="contents" class="inner">

<div id="contents-in">


<div id="main">



</div>
<!--/#main-->

<div id="sub">

   
    
</div>
<!--/#sub-->

</div>
<!--/#contents-in-->

<div id="side">

</div>
<!--/#side-->

 </div>
<!--/#contents-->


    <footer>
        <div id="footermenu" class="inner">
            <ul>
            <li class="title">メニュータイトル</li>
            <li><a href="index.html">ホーム</a></li>
            <li><a href="{% url 'booking:store_list' %}">ご予約はこちらから</a>/li>
            <li><a href="contact.html">お問い合わせ</a></li>
            <li><a href="company.html">会社概要</a></li>
            </ul>
            
            <ul>
            <li class="title">スタッフ用ページ</li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'booking:my_page' %}">マイページ</a></li>
            <li><form action="{% url 'booking:logout' %}" method="post" class="d-inline">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-link nav-link">ログアウト</button>
                </form></li>
            {% else %}
            <li><a href="{% url 'booking:login' %}">ログイン</a></li>
            {% endif %}
            </ul>
            
            <ul>
                <li class="title">外部リンク</li>
                <li><a href="https://www.senjutsu.jp/">大久保占い研究室</a></li>
                <li><a href="https://www.senjutsu.jp/forums/forum/uranai">占い掲示板</a></li>
                <li><a href="https://www.senjutsu.jp/tarot">無料のタロット占い</a></li>
            </ul>
            
            <ul>
                <li class="title">占いサロンとは？</li>
                <li><a href="list_foods.html">ごあいさつ</a></li>
                <li><a href="list_job.html">初めての方へ</a></li>
                <li><a href="list_job.html">占いサロンのココがすごい！</a></li>
                </ul>
            <ul>
                <li class="title">その他</li>
                <li><a href="list_foods.html">プライバシーポリシー</a></li>
                <li><a href="list_job.html">サイトマップ</a></li>
                <li><a href="list_clinic.html">利用規約</a></li>
                </ul>
            </div>
        
    </footer>

    <!--ページの上部に戻る「↑」ボタン-->
    <p class="nav-fix-pos-pagetop"><a href="#">↑</a></p>

    <!--メニュー開閉ボタン-->
    <div id="menubar_hdr" class="close"></div>
    <!--メニューの開閉処理条件設定　900px以下-->
    <script>
    if (OCwindowWidth() <= 900) {
        open_close("menubar_hdr", "menubar-s");
    }
    </script>
</body>
</html>