{% extends "admin/base_site.html" %}

{% load i18n static %}

{% block content %}
<div id="content-main">

<h1>登録情報メニュー</h1>
{% for model in app_list %}
    {% if model.name in ["予約確定済みのスケジュール", "在籍占い師スタッフリスト", "店舗一覧"] %}
        <div class="app-{{ model.app_label }} module">
            <table>
                <caption>
                    <a href="{{ model.admin_url }}" class="section" title="{% blocktrans with name=model.name %}Models in the {{ name }} application{% endblocktrans %}">{{ model.name }}</a>
                </caption>
                {% for model in model.models %}
                    <tr class="model-{{ model.object_name|lower }}">
                        <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endif %}
{% endfor %}

<h1>スーパー権限専用メニュー</h1>
{% for model in app_list %}
    {% if model.name in ["お知らせ", "メディア情報", "運営会社情報"] %}
        <div class="app-{{ model.app_label }} module">
            <table>
                <caption>
                    <a href="{{ model.admin_url }}" class="section" title="{% blocktrans with name=model.name %}Models in the {{ name }} application{% endblocktrans %}">{{ model.name }}</a>
                </caption>
                {% for model in model.models %}
                    <tr class="model-{{ model.object_name|lower }}">
                        <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endif %}
{% endfor %}

</div>
{% endblock %}