@media (prefers-color-scheme: dark) {
    body {
        background-color: #f1f1f1;
        color: #000;
    }

    #header {
        background-color: #0073aa;
        color: #fff;
    }

    #header a {
        color: #fff;
    }

    #content-main {
        margin: 20px;
        background-color: #fff;
        border: 1px solid #ccd0d4;
        padding: 20px;
    }

    
    .element {
        border-color: #808080; /* グレー */
    }

    
}